h2 {
    font-size: 4em;
}

strong {
    color: #ffffff;
}

img {
    height: 400px; 
    object-fit: cover; 
    width: 100%;  
}

@media screen and (min-width: 768px) {
    img {
        height: 250px;
    }
    
}